{# src/GameBundle/Resources/views/Default/index.html.twig #}

{% extends "GameBundle::layout.html.twig" %}
{% set formElt = true %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('notice') %}
      <p>{{ message }}</p>
    {% endfor %}
 
    <h3>{{ title }}</h3>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 col-sm-offset-1 col-sm-10 formQuestion">
            <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_row(form.topic) }}
                    {% if app.user and is_granted('ROLE_TEACHER') %}
                        Vous souhaitez en créer un nouveau ? <br/>
                        <a href="{{ path('options_question') }}" class="btn btn-default"><span class="glyphicon glyphicon-hand-right"></span> Ajouter une catégorie</a>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_row(form.question) }}
                </div>
                <div class="form-group form_answers">
                    {{ form_row(form.answers) }}
                    <a href="#" id="add_answer" class="btn btn-default">Ajouter une réponse</a>
                </div>
                <div class="form-group">
                    {{ form_row(form.schoolClass) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.difficulty) }}
                </div>
                
                {{ form_widget(form.save, {
                    'label': 'Ajouter',
                    'attr' : {
                        'class': 'btn btn-primary'
                    }
                }) }}

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {


// Ajouter ou supprimer une réponse
        var $container = $('div#GameBundle_question_answers');
        var nbAnswer = $container.find(':input[type="text"]').length;
        var urlValidation = '{{ path("validate_question") }}';
        var labelAnswers = $('#GameBundle_question_answers>.form-group label');
        var deleteButton = $('.deleteButton');

        if (document.location.href.indexOf(urlValidation) == -1) {
            addAnswer($container);
            addAnswer($container);
        }

        labelAnswers.each(function(index) {
            if (index === 0) {
                $(this).text('Bonne réponse');
            } else {
                $(this).text('Mauvaise réponse');                    
            }
        });        
        addDeleteLink($('#GameBundle_question_answers>.form-group:gt(1)'));
        displayDeleteButton();

        $('#add_answer').on('click', function (e) {
            addAnswer($container);
            displayDeleteButton();
            e.preventDefault();
            return false;
        });
        
    // functions
        function displayDeleteButton() {
            $('div[id^="GameBundle_question_answers_"]').each(function(i) {
                if (i > 1) {
                    $(this).css({"display":"inline-block", "width":"90%"});
                    $('.deleteButton').css({"margin-left":"2%"});
                }
            })
        }

        function addAnswer($container) {
            var template;
            if(nbAnswer === 0) {
                template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Bonne réponse')
                .replace(/__name__/g, nbAnswer)
                ;
            } else {
                template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Mauvaise réponse')
                .replace(/__name__/g, nbAnswer)
                ;
            }    
                   
            var $prototype = $(template);
            if (nbAnswer > 1) {
                addDeleteLink($prototype);
            }
            $container.append($prototype);
            nbAnswer++;
        }

        function addDeleteLink($prototype) {
            var $deleteLink = $("<a href='#' class='btn btn-danger deleteButton'>X</a>");
            var id_answer;
            $($prototype).append($deleteLink);
            $deleteLink.on('click', function (e) {
                $prototype.remove();                    
                id_answer = $($prototype).find(':input[type="hidden"]').val();
                if (id_answer !== '') {
                    var url = "{{ path('remove_answer', { 'id': 0 }) }}";
                    url = url.replace('0', id_answer);
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (response) {
                            $prototype.remove();
                            nbAnswer--;
                        },
                        error: function () {
                            alert('error');
                        }
                    });
                }
                e.preventDefault();
                return false;
            });
        }
    });
</script>

    {% endblock %}
