{# src/GameBundle/Resources/views/Default/index.html.twig #}

{% extends "GameBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('notice') %}
      <p>{{ message }}</p>
    {% endfor %}
 
    <h2>{{ title }}</h2>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_row(form.question) }}
                </div>
                <div class="form-group form_answers">
                    {{ form_row(form.answers) }}
                    <a href="#" id="add_answer" class="btn btn-default">Ajouter une réponse</a>
                </div>
                <div class="form-group">
                    {{ form_row(form.schoolClass) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.difficulty) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.topic) }}
                </div>
                {#plan A not working#}
                {#<div class="form-group">
                    {{ form_row(form.topic.subject) }}
                </div>
                <div class="form-group form_subject_topic">
                    {{ form_row(form.topic.nameTopic) }}
                </div>#}
                
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {

//combobox subject + topic
/*
        var subjectField = $('#GameBundle_question_topic_subject');
        var topicField = $('#GameBundle_question_topic_topic');
        var topicGroup = $('.form_subject_topic');

        subjectField.on('change', function () {
            var id_subject = $(this).val();
            $.ajax({
                url: "{{ path('combobox') }}",
                type: 'POST',
                data: { 'id': id_subject },
                dataType: 'json',
                success: function (response) {
                    topicField.html('');
                    $.each(response, function (index, value) {
                        topicField.append('<option value="' + value.id + '">' + value.nameTopic + '</option>');
                    });
                    topicGroup.show();
                },
                error: function() {
                    topicGroup.hide();
                }
            });
        });
*/

// Ajouter ou supprimer une réponse
        var $container = $('div#GameBundle_question_answers');
        var nbAnswer = $container.find(':input[type="text"]').length;
        var urlValidation = '{{ path("validate_question") }}';
        var labelAnswers = $('#GameBundle_question_answers>.form-group label');
        var deleteButton = $('.deleteButton');

        alert(urlValidation);
        if (document.location.href.indexOf(urlValidation) != 0) {
            addAnswer($container);
            addAnswer($container);        
        }

        labelAnswers.each(function(index) {
            if (index === 0) {
                $(this).text('Bonne réponse');
            } else {
                $(this).text('Mauvaise réponse');                    
            }
        });        
        addDeleteLink($('#GameBundle_question_answers>.form-group:gt(1)'));
        

        $('#add_answer').on('click', function (e) {
            addAnswer($container);
            e.preventDefault();
            return false;
        });
        
    // functions
            


        function addAnswer($container) {
            var template;
            if(nbAnswer === 0) {
                template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Bonne réponse')
                .replace(/__name__/g, nbAnswer)
                ;
            } else {
                template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Mauvaise réponse')
                .replace(/__name__/g, nbAnswer)
                ;
            }    
                   
            var $prototype = $(template);
            if (nbAnswer > 1) {
                addDeleteLink($prototype);
            }
            $container.append($prototype);
            nbAnswer++;
        }

        function addDeleteLink($prototype) {
            var $deleteLink = $("<a href='#' class='btn btn-danger deleteButton'>X</a>");
            var id_answer;
            $($prototype).append($deleteLink);
            $deleteLink.on('click', function (e) {
                $prototype.remove();                    
                id_answer = $($prototype).find(':input[type="hidden"]').val();
                if (id_answer !== '') {
                    var url = "{{ path('remove_answer', { 'id': 0 }) }}";
                    url = url.replace('0', id_answer);
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (response) {
                            $prototype.remove();
                            nbAnswer--;
                        },
                        error: function () {
                            alert('error');
                        }
                    });
                }
                e.preventDefault();
                return false;
            });
        }
    });
</script>

    {% endblock %}
