{# src/GameBundle/Resources/views/Default/index.html.twig #}

{% extends "GameBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('notice') %}
      <p>Message flash : {{ message }}</p>
    {% endfor %}
 
    <h2>{{ title }}</h2>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.question) }}
                    {{ form_errors(form.question) }}
                    {{ form_widget(form.question) }}
                </div>
                <div class="form-group form_answers">
                    {{ form_label(form.answers) }}
                    {{ form_errors(form.answers) }}   
                    {{ form_row(form.answers) }}
                    <a href="#" id="add_answer" class="btn btn-default">Ajouter une réponse</a>
                </div>
                <div class="form-group">
                    {{ form_label(form.schoolClass) }}
                    {{ form_errors(form.schoolClass) }}
                    {{ form_widget(form.schoolClass, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.difficulty) }}
                    {{ form_errors(form.difficulty) }}
                    {{ form_widget(form.difficulty, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.topic) }}
                    {{ form_errors(form.topic) }}
                    {{ form_widget(form.topic) }}
                </div>
                {#plan A not working#}
                {#<div class="form-group">
                    {{ form_label(form.topic.subject) }}
                    {{ form_errors(form.topic.subject) }}
                    {{ form_widget(form.topic.subject) }}
                </div>
                <div class="form-group form_subject_topic">
                    {{ form_label(form.topic.nameTopic) }}
                    {{ form_errors(form.topic.nameTopic) }}
                    {{ form_widget(form.topic.nameTopic) }}
                </div>#}
                
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {

//combobox subject + topic
/*
        var subjectField = $('#GameBundle_question_topic_subject');
        var topicField = $('#GameBundle_question_topic_topic');
        var topicGroup = $('.form_subject_topic');

        subjectField.on('change', function () {
            var id_subject = $(this).val();
            $.ajax({
                url: "{{ path('combobox') }}",
                type: 'POST',
                data: { 'id': id_subject },
                dataType: 'json',
                success: function (response) {
                    topicField.html('');
                    $.each(response, function (index, value) {
                        topicField.append('<option value="' + value.id + '">' + value.nameTopic + '</option>');
                    });
                    topicGroup.show();
                },
                error: function() {
                    topicGroup.hide();
                }
            });
        });
*/

// Ajouter ou supprimer une réponse
        var $container = $('div#GameBundle_question_answers');
        var index = $container.find(':input').length;
        var urlValidation = 'http://jeudeloie/app_dev.php/question/suggest';
        var labelAnswers = $('#GameBundle_question_answers>.form-group label');
        var deleteButton = $('.deleteButton');

        if (document.location.href.indexOf(urlValidation) > -1) {
            addAnswer($container);
            addAnswer($container);        
        } else {
            labelAnswers.each(function(index) {
                if (index === 0) {
                    $(this).text('Bonne réponse');
                } else {
                    $(this).text('Mauvaise réponse');                    
                }
            });
            addDeleteLink($('#GameBundle_question_answers>.form-group:gt(1)'));
        }

        $('#add_answer').on('click', function (e) {
            addAnswer($container);
            e.preventDefault();
            return false;
        });

        deleteButton.on('click', function () {
            var id_answer;
            if (id_answer === null) {
                return false;
            } else {
                {% for answer in answers %}
                    id_answer = {{ answer.id }}
                {% endfor %}
            }

            $.ajax({
                url: "{{ path('remove_answer') }}",
                type: 'POST',
                data: { 'id': id_answer },
                dataType: 'json',
            });
        });
        
    // functions
        function addAnswer($container) {
            var template;
            if(index === 0) {
                template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Bonne réponse')
                .replace(/__name__/g, index)
                ;
            } else {
                template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Mauvaise réponse')
                .replace(/__name__/g, index)
                ;
            }            
            var $prototype = $(template);
            if (index > 1) {
                addDeleteLink($prototype);
            }
            $container.append($prototype);
            index++;
        }

        function addDeleteLink($prototype) {
            var $deleteLink = $("<a href='#' class='btn btn-danger deleteButton'>X</a>");
            $($prototype).append($deleteLink);
            $deleteLink.on('click', function (e) {
                $prototype.remove();
                index--;
                e.preventDefault();
                return false;
            });
        }
    });
</script>

    {% endblock %}
