{# src/GameBundle/Resources/views/Default/index.html.twig #}

{% extends "GameBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('notice') %}
      <p>Message flash : {{ message }}</p>
    {% endfor %}
 
    <h2>{{ title }}</h2>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.question) }}
                    {{ form_errors(form.question) }}
                    {{ form_widget(form.question) }}
                </div>
                <div class="form-group form_answers">
                    {{ form_label(form.answers) }}
                    {{ form_errors(form.answers) }}   
                    {{ form_row(form.answers) }}
                    <a href="#" id="add_answer" class="btn btn-default">Ajouter une réponse</a>
                </div>
                <div class="form-group">
                    {{ form_label(form.schoolClass) }}
                    {{ form_errors(form.schoolClass) }}
                    {{ form_widget(form.schoolClass, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.difficulty) }}
                    {{ form_errors(form.difficulty) }}
                    {{ form_widget(form.difficulty, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.subject) }}
                    {{ form_errors(form.subject) }}
                    {{ form_widget(form.subject) }}
                </div>
                {#<div class="form-group form_subject_topic">
                    {{ form_label(form.subject.topics) }}
                    {{ form_errors(form.subject.topics) }}
                    {{ form_widget(form.subject.topics) }}
                </div>#}
                
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript">
    $(function () {
        var subjectField = $('#GameBundle_question_subject_nameSubject');
        var topicField = $('#GameBundle_question_subject_topics');
        var topicGroup = $('.form_subject_topic');

        subjectField.on('change', function () {
            var id_subject = $(this).val();
            $.ajax({
                url: "{{ path('combobox') }}",
                type: 'POST',
                data: { 'id': id_subject },
                dataType: 'json',
                success: function (response) {
                    topicField.html('');
                    $.each(response, function (index, value) {
                        topicField.append('<option value="' + value.id + '">' + value.nameTopic + '</option>');
                    });
                    topicGroup.show();
                },
                error: function() {
                    topicGroup.hide();
                }
            });
        });

        $("form[name='GameBundle_question']").on('submit', function(){
            $("input[name='isRightOrNot']").each(function(){
                $(this).attr('name', $(this).attr('data-oldname'));
            });         
        });


        // Ajouter ou supprimer une réponse
        var $container = $('div#GameBundle_question_answers');
        var index = $container.find(':input').length;

        addAnswer($container);
        addAnswer($container);        
        
        $('#add_answer').on('click', function (e) {
            addAnswer($container);
            e.preventDefault();
            return false;
        });

        function addAnswer($container) {
            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Réponse n°' + (index + 1))
                .replace(/__name__/g, index)
            ;
            
            var $prototype = $(template);
            if (index > 1) {
                addDeleteLink($prototype);
            }
            $container.append($prototype);

            var radio = $('#GameBundle_question_answers input:radio').last();
            $(radio).attr('data-oldname', $(radio).attr('name'));
            $(radio).attr('name', 'isRightOrNot');
            index++;
        }

        function addDeleteLink($prototype) {
            var $deleteLink = $('<a href="#" class="btn btn-danger">X</a>');
            $($prototype).append($deleteLink);
            $deleteLink.on('click', function (e) {
                $prototype.remove();
                index--;
                e.preventDefault();
                return false;
            });
        }
    });
</script>

    {% endblock %}
