<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}Le jeu de loi érudit{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" type='text/css' href="{{ asset('bundles/GameBundle/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Le jeu de l'oie érudit</a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if is_granted('ROLE_TEACHER') %}
                                <li class="dropdown {% if (formElt is defined) or (moderateQuestion is defined) or (optionsQuestion is defined) %}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Questions<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href=" {{ path('add_question') }} ">Ajout</a></li>
                                        <li><a href=" {{ path('moderate_question') }} ">Modération</a></li>
                                        <li><a href=" {{ path('options_question') }} ">Options</a></li>
                                    </ul>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="dropdown {% if (adminUser is defined) or (addUser is defined) %}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Utilisateurs<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href=" {{ path('admin_users') }} ">Gestion</a></li>
                                            <li><a href=" {{ path('user_add') }} ">Ajout</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                                <li class="{% if listScores is defined %}active{% endif %}"><a href=" {{ path('list_scores') }} ">Scores et classements</a></li>
                            {% else %}
                                <li class="{% if (select_gamer is defined) or (game is defined) %}active{% endif %}"><a href=" {{ path('select_gamers') }} ">JOUER</a></li>
                                <li class="dropdown {% if (adminGamers is defined) or (listScores is defined) %}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Le jeu<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href=" {{ path('admin_gamers') }} ">Vos joueurs</a></li>
                                        <li><a href=" {{ path('list_scores') }} ">Scores et classements</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown {% if (formElt is defined) or (user_questions is defined) %}active{% endif %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Vos questions <span class="badge"></span><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href=" {{ path('suggest_question') }} ">Proposez des questions !</a></li>
                                        <li><a href=" {{ path('user_questions') }} ">Vos questions <span class="badge"></span></a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="{% if settings is defined %}active{% endif %}"><a href=" {{ path('settings_user', { 'id': app.user.id }) }} ">Paramètres</a></li>                        
                            <li class="{% if help is defined %}active{% endif %}"><a href=" {{ path('help') }} ">Aide et règles du jeu</a></li>                        
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if is_granted('ROLE_USER') %}
                                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Bienvenue famille {{ app.user.username }} ! <span class="caret"></span></a>
                            {% else %}
                                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Bienvenue Mme/M. {{ app.user.username }} ! <span class="caret"></span></a>
                            {% endif %}
                                    <ul class="dropdown-menu">
                                        <li><a href=" {{ path('logout') }} ">Déconnexion</a></li>
                                    </ul>
                                </li>
                        {% else %}
                            <li><a href=" {{ path('signup') }} "><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
                            <li><a href=" {{ path('login') }} "><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
                        {% endif %}
                    </ul>
                </div> 
            </div> 
        </nav>

        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>

        <footer>
            <p> © Application ludique pour l'enseignement - 2017 - Claire Serra</p>
        </footer>

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="{{ asset('bundles/GameBundle/myscript.js') }}"></script>
        {% endblock %}
    </body>
</html>
