{# src/UserBundle/Resources/views/Gamer/select_gamer.html.twig #}

{% extends "GameBundle::layout.html.twig" %}
{% set game = true %}

{% block title %}{{ parent() }} - {{ titleTab }}{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
      <div class="alert alert-danger">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    <h3>{{ title }}</h3>
    
        <table class="board">
            <tr class="borderTop">
                <td class="jaune borderLeft">22</td>
                <td class="bleu borderBottom">21</td>
                <td class="rouge borderBottom">20</td>
                <td class="vert borderBottom">19</td>
                <td class="jaune borderBottom">18</td>
                <td class="bleu borderBottom">17</td>
                <td class="rouge borderBottom">16</td>
                <td class="vert borderRight">15</td>
            </tr>
            <tr>
                <td class="vert borderRight borderLeft">23</td>
                <td class="rouge">44</td>
                <td class="vert borderBottom">43</td>
                <td class="jaune borderBottom">42</td>
                <td class="bleu borderBottom">41</td>
                <td class="rouge borderBottom">40</td>
                <td class="vert">39</td>
                <td class="jaune borderLeft borderRight">14</td>
            </tr>
            <tr>
                <td class="rouge borderRight borderLeft">24</td>
                <td class="bleu borderRight">45</td>
                <td class="jaune">58</td>
                <td class="bleu borderBottom">57</td>
                <td class="rouge borderBottom">56</td>
                <td class="vert">55</td>
                <td class="jaune borderLeft">38</td>
                <td class="bleu borderLeft borderRight">13</td>
            </tr>
            <tr>
                <td class="bleu borderRight borderLeft">25</td>
                <td class="jaune borderRight">46</td>
                <td class="vert borderRight">59</td>
                <!-- case win -->
                <td class="win"><span class="glyphicon glyphicon-flag"></span></td> 
                <!-- case win -->                
                <td class="vert">63</td>
                <td class="jaune borderLeft">54</td>
                <td class="bleu borderLeft">37</td>
                <td class="rouge borderLeft borderRight">12</td>
            </tr>
            <tr>
                <td class="jaune borderRight borderLeft">26</td>
                <td class="vert borderRight">47</td>
                <td class="rouge">60</td>
                <td class="bleu borderTop">61</td>
                <td class="jaune">62</td>
                <td class="bleu borderLeft">53</td>
                <td class="rouge borderLeft">36</td>
                <td class="vert borderLeft borderRight">11</td>
            </tr>
            <tr>
                <td class="vert borderRight borderLeft">27</td>
                <td class="rouge">48</td>
                <td class="bleu borderTop">49</td>
                <td class="jaune borderTop">50</td>
                <td class="vert borderTop">51</td>
                <td class="rouge">52</td>
                <td class="vert borderLeft">35</td>
                <td class="jaune borderLeft borderRight">10</td>
            </tr>
            <tr>
                <td class="rouge borderLeft">28</td>
                <td class="bleu borderTop">29</td>
                <td class="jaune borderTop">30</td>
                <td class="vert borderTop">31</td>
                <td class="rouge borderTop">32</td>
                <td class="bleu borderTop">33</td>
                <td class="jaune">34</td>
                <td class="bleu borderLeft borderRight">9</td>
            </tr>
            <tr class="borderBottom">
                <td class="bleu borderTop">1</td>
                <td class="jaune borderTop">2</td>
                <td class="vert borderTop">3</td>
                <td class="rouge borderTop">4</td>
                <td class="bleu borderTop">5</td>
                <td class="jaune borderTop">6</td>
                <td class="vert borderTop">7</td>
                <td class="rouge borderRight">8</td>
            </tr>
        </table>

{% endblock %}
 