{# src/GameBundle/Resources/views/Default/select_gamer.html.twig #}

{% extends "GameBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
      <p>Message flash : {{ message }}</p>
    {% endfor %}

    <h3>Modération des questions</h3>

    <table class="table table-striped">
      <tr>
        <th>Question</th>
        <th>Matière</th>
        <th>Auteur</th>        
        <th>Validation</th>
      </tr>
      {% for notValidQuestion in notValidQuestions %}
        <tr>
          <td>{{ notValidQuestion.question }} </td>
          <td>{{ notValidQuestion.topic.nameTopic }} </td>
          <td>Famille {{ notValidQuestion.userCount.username }} </td>
          <td><a href="{{ path('validate_question', { 'id': notValidQuestion.id }) }}"><span class="glyphicon glyphicon-wrench"></span></a></td>
        </tr>
      {% endfor %}
    </table>

{% endblock %}
 