{# src/GameBundle/Resources/views/Default/select_gamer.html.twig #}

{% extends "GameBundle::layout.html.twig" %}
{% set moderateQuestion = true %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  <div class="container-fluid">
    {% for message in app.session.flashbag.get('notice') %}
      <div class="alert alert-danger">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    <h3>Modération des questions</h3>

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4" >
        <ul class="nav nav-pills nav-justified">
          <li role="presentation" class="active"><a href="#validQuestions" data-toggle="pill">Questions valides</a></li>
          <li role="presentation"><a href="#notValidQuestions" data-toggle="pill">Quetions non valides</a></li>
        </ul>
      </div>
    </div>

    <div class="tab-content">
      <div class="row tab-pane fade in active" id="validQuestions">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Question</th>
              <th>Matière</th>
              <th>Sous-matière</th>
              <th>Auteur</th>        
              <th>Modération</th>
              <th>Suppression</th>
            </tr>
          </thead>
          <tbody>      
            {% for validQuestion in validQuestions %}
              <tr>
                <td>{{ validQuestion.question }} </td>
                <td>{{ validQuestion.topic.subject.nameSubject }} </td>
                <td>{{ validQuestion.topic.nameTopic }} </td>
                <td>
                  {% if "ROLE_USER" in validQuestion.userCount.roles %}
                    Famille {{ validQuestion.userCount.username }} 
                  {% elseif "ROLE_TEACHER" in validQuestion.userCount.roles %}
                    M. / Mme {{ validQuestion.userCount.username }} 
                  {% else %}                  
                    {{ validQuestion.userCount.username }} 
                  {% endif %}                  
                </td>
                <td><a href="{{ path('validate_question', { 'id': validQuestion.id }) }}"><span class="glyphicon glyphicon-wrench"></span></a></td>
                <td><a data-toggle="modal" data-target="#modalDeleteValidQuestion{{ validQuestion.id }}"><span class="glyphicon glyphicon-trash"></span></a></td>

                <!-- Modal -->
                  <div class="modal fade" id="modalDeleteValidQuestion{{ validQuestion.id }}" tabindex="-1" role="dialog" aria-labelledby="modalDeleteValidQuestionLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title" id="modalDeleteValidQuestionLabel">Confirmation requise</h4>
                              </div>
                              <div class="modal-body">
                                  Etes-vous sûr de vouloir supprimer la question ?
                              </div>
                              <div class="modal-footer">
                                  <a href="{{ path('question_delete', { 'id': validQuestion.id }) }}">
                                      {% if app.user.username == "Visiteur" and is_granted('ROLE_ADMIN') %}
                                          <button class="btn btn-danger btn-lg disabled">Supprimer</button>
                                      {% else %}
                                          <button class="btn btn-danger btn-lg">Supprimer</button>
                                      {% endif %}
                                  </a>
                              </div>
                          </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->

              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="row tab-pane fade" id="notValidQuestions">
        <table class="table table-striped">
          {% for notValidQuestion in notValidQuestions %}
          <thead>
            <tr>
              <th>Question</th>
              <th>Matière</th>
              <th>Sous-matière</th>
              <th>Auteur</th>        
              <th>Modération</th>
              <th>Suppression</th>
            </tr>
          </thead>
          <tbody>      
              <tr>
                <td>{{ notValidQuestion.question }} </td>
                <td>{{ notValidQuestion.topic.subject.nameSubject }} </td>
                <td>{{ notValidQuestion.topic.nameTopic }} </td>
                <td>Famille {{ notValidQuestion.userCount.username }} </td>
                <td><a href="{{ path('validate_question', { 'id': notValidQuestion.id }) }}"><span class="glyphicon glyphicon-wrench"></span></a></td>
                <td><a data-toggle="modal" data-target="#modalDeleteQuestion{{ notValidQuestion.id }}"><span class="glyphicon glyphicon-trash"></span></a></td>

                <!-- Modal -->
                  <div class="modal fade" id="modalDeleteNotValidQuestion{{ notValidQuestion.id }}" tabindex="-1" role="dialog" aria-labelledby="modalDeleteNotValidQuestionLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title" id="modalDeleteNotValidQuestionLabel">Confirmation requise</h4>
                              </div>
                              <div class="modal-body">
                                  Etes-vous sûr de vouloir supprimer la question ?
                              </div>
                              <div class="modal-footer">
                                  <a href="{{ path('question_delete', { 'id': notValidQuestion.id }) }}">
                                      {% if app.user.username == "Visiteur" and is_granted('ROLE_ADMIN') %}
                                          <button class="btn btn-danger btn-lg disabled">Supprimer</button>
                                      {% else %}
                                          <button class="btn btn-danger btn-lg">Supprimer</button>
                                      {% endif %}
                                  </a>
                              </div>
                          </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->

              </tr>
          <tbody>            
          {% else %}
              <p>Toutes les questions ont été validées.</p>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>    
{% endblock %}
 