{# src/UserBundle/Resources/views/Default/index.html.twig #}

{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
      <div class="alert alert-danger">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        <p>{{ message }}</p>
      </div>
    {% endfor %}
 
    <h2>Page d'accueil</h2>

    {% if app.user and is_granted('ROLE_USER') %}
      <p>Bienvenue famille {{ app.user.username }} ! </p>
      <p>Faites votre choix :</p>
      <p><a href=" {{ path('select_gamers') }} ">JOUER</a></p>
      <p><a href=" {{ path('check_scores') }} ">CONSULTER LES SCORES</a></p>
      <p><a href=" {{ path('admin_gamers') }} ">GÉRER LES JOUEURS</a></p>
      <p><a href=" {{ path('suggest_question') }} ">PROPOSER DES QUESTIONS</a></p>
      <p><a href=" {{ path('settings_user', { 'id': app.user.id }) }} ">PARAMÈTRES DU COMPTE</a></p>
    
    {% elseif app.user and is_granted('ROLE_TEACHER') %}
        <p>Bienvenue {{ app.user.username }} ! </p>
        <p>Faites votre choix :</p>        
        <p><a href=" {{ path('admin_users') }} ">GÉRER LES COMPTES UTILISATEURS</a></p>
        <p><a href=" {{ path('add_question') }} ">AJOUTER DES QUESTIONS</a></p>
        <p><a href=" {{ path('moderate_question') }} ">MODÉRER LES QUESTIONS</a></p>
        <p><a href=" {{ path('options_question') }} ">OPTIONS DES QUESTIONS</a></p>
        <p><a href=" {{ path('check_scores') }} ">CONSULTER LES SCORES</a></p>
    
    {% else %}
      <p><a href=" {{ path('login') }} ">CONNEXION</a></p>
      <p><a href=" {{ path('signup') }} ">INSCRIPTION</a></p>
    {% endif %}



{% endblock %}
