{# src/GameBundle/Resources/views/Default/select_gamer.html.twig #}

{% extends "GameBundle::layout.html.twig" %}
{% set listScores = true %}

{% block title %}{{ parent() }} - {{ titleTab }}{% endblock %}

{% block body %}
  <div class="container-fluid">
    {% for message in app.session.flashbag.get('notice') %}
      <div class="alert alert-danger">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    <h3> {{ title }} </h3>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-8" >
        <ul class="nav nav-pills nav-justified">
          {% if app.user and is_granted('ROLE_USER') %}
            <li role="presentation" class="active"><a href="#myGamers" data-toggle="pill">Mes joueurs</a></li>
            <li role="presentation"><a href="#tous" data-toggle="pill">Tous</a></li>
          {% endif %}
          {% if app.user and is_granted('ROLE_TEACHER') %}
            <li role="presentation" class="active"><a href="#tous" data-toggle="pill">Tous</a></li>
          {% endif %}
          <li role="presentation"><a href="#CP" data-toggle="pill">CP</a></li>
          <li role="presentation"><a href="#CE1" data-toggle="pill">CE1</a></li>
          <li role="presentation"><a href="#CE2" data-toggle="pill">CE2</a></li>
          <li role="presentation"><a href="#CM1" data-toggle="pill">CM1</a></li>
          <li role="presentation"><a href="#CM2" data-toggle="pill">CM2</a></li>
          <li role="presentation"><a href="#others" data-toggle="pill">Autre</a></li>
        </ul>
      </div>
    </div>
  
    <div class="tab-content">

    {% if app.user and is_granted('ROLE_USER') %}
      <div class="table-responsive row tab-pane fade in active" id="myGamers">
        <table class="table table-striped">
          {% if myGamers %}
            <thead>
              <tr>
                <th>Pseudo</th>
                <th>Prénom</th>
                <th>Nom de famille</th>
                <th>Meilleur score</th>
                <th>Nombre de parties gagnées</th>
                <th>Nombre de bonnes réponses</th>
                <th>Niveau</th>
              </tr>
            </thead>            
            <tbody>
              {% for myGamer in myGamers %}
                <tr>
                  <td>{{ myGamer.username }}</td>
                  <td>{{ myGamer.firstname }}</td>
                  <td>{{ myGamer.usercount.username }}</td>
                  <td>{{ myGamer.bestScore }}</td>
                  <td>{{ myGamer.gameWonNb }}</td>
                  <td>{{ myGamer.rightAnswerNb }}</td>
                  <td>{{ myGamer.level }}</td>
                </tr>
              {% endfor %}
            </tbody>
          {% else %}
            <p>Il n'y a pas encore de joueurs.</p>      
          {% endif %}
        </table>
      </div>
      {% endif %}

      {% if app.user and is_granted('ROLE_TEACHER') %}      
        <div class="table-responsive row tab-pane fade in active" id="tous">
      {% else %}
        <div class="table-responsive row tab-pane fade" id="tous">
      {% endif %}
        <table class="table table-striped">
          {% if gamers %}
            <thead>
              <tr>
                <th>Pseudo</th>
                <th>Prénom</th>
                <th>Nom de famille</th>
                <th>Meilleur score</th>
                <th>Nombre de parties gagnées</th>
                <th>Nombre de bonnes réponses</th>
                <th>Niveau</th>
              </tr>
            </thead>            
            <tbody>
              {% for gamer in gamers %}
                <tr>
                  <td>{{ gamer.username }}</td>
                  <td>{{ gamer.firstname }}</td>
                  <td>{{ gamer.usercount.username }}</td>
                  <td>{{ gamer.bestScore }}</td>
                  <td>{{ gamer.gameWonNb }}</td>
                  <td>{{ gamer.rightAnswerNb }}</td>
                  <td>{{ gamer.level }}</td>
                </tr>
              {% endfor %}
            </tbody>
          {% else %}
            <p>Il n'y a pas encore de joueurs.</p>      
          {% endif %}
        </table>
      </div>

      {% for gamerBySchoolClass in gamersBySchoolClass %}
        <div class="table-responsive row tab-pane fade" id="{{ schoolClassTitles[loop.index0] }}">
          <table class="table table-striped">
            {% if gamerBySchoolClass %}
              <thead>
                <tr>
                  <th>Pseudo</th>
                  <th>Prénom</th>
                  <th>Nom de famille</th>
                  <th>Meilleur score</th>
                  <th>Nombre de parties gagnées</th>
                  <th>Nombre de bonnes réponses</th>
                  <th>Niveau</th>
                </tr>
              </thead>            
              <tbody>
                {% for gamer in gamerBySchoolClass %}
                  <tr>
                    <td>{{ gamer.username }}</td>
                    <td>{{ gamer.firstname }}</td>
                    <td>{{ gamer.usercount.username }}</td>
                    <td>{{ gamer.bestScore }}</td>
                    <td>{{ gamer.gameWonNb }}</td>
                    <td>{{ gamer.rightAnswerNb }}</td>
                    <td>{{ gamer.level }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            {% else %}
              <p>Il n'y a pas encore de joueurs.</p>      
            {% endif %}
          </table>
        </div>
      {% endfor %}

      <div class="table-responsive row tab-pane fade" id="others">
        <table class="table table-striped">
          {% if otherGamers %}
            <thead>
              <tr>
                <th>Pseudo</th>
                <th>Prénom</th>
                <th>Nom de famille</th>
                <th>Vous êtes :</th>
                <th>Meilleur score</th>
                <th>Nombre de parties gagnées</th>
                <th>Nombre de bonnes réponses</th>
                <th>Niveau</th>
              </tr>
            </thead>            
            <tbody>
              {% for otherGamer in otherGamers %}
                <tr>
                  <td>{{ otherGamer.username }}</td>
                  <td>{{ otherGamer.firstname }}</td>
                  <td>{{ otherGamer.usercount.username }}</td>
                  <td>{{ otherGamer.role }}</td>
                  <td>{{ otherGamer.bestScore }}</td>
                  <td>{{ otherGamer.gameWonNb }}</td>
                  <td>{{ otherGamer.rightAnswerNb }}</td>
                  <td>{{ otherGamer.level }}</td>
                </tr>
              {% endfor %}
            </tbody>
          {% else %}
            <p>Il n'y a pas encore de joueurs.</p>      
          {% endif %}
        </table>
      </div>

    </div>
  </div>
{% endblock %}
