{# src/UserBundle/Resources/views/Gamer/select_gamer.html.twig #}

{% extends "GameBundle::layout.html.twig" %}
{% set select_gamer = true %}

{% block title %}{{ parent() }} - {{ titleTab }}{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
      <div class="alert alert-danger">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    <div class="row selectGamer">
      <div class="col-lg-offset-3 col-lg-3 col-sm-offset-1 col-sm-5 center">    
        <h3>{{ title1 }}</h3>
        {% if gamers %}
          <div class="gamer">
            {% for gamer in gamers %}
                <form action=" {{ path('play') }} " method="GET">
                <p><label><input type="checkbox" name="gamer[]" value="{{ gamer.id }}" /> {{ gamer.username }}</label></p>
            {% endfor %}
          </div>
          <div>
            <a class="checkAllGamers btn btn-default">Cocher tous les joueurs</a>
          </div>
      </div>

      <div class="col-lg-3 col-sm-5 center">
        <h3>{{ title2 }}</h3>
        <div class="chooseSubject">
          {% for subjectSelected in subjectsSelected %}
              <p><label><input type="checkbox" name="subject[]" value="{{ subjectSelected.id }}" /> {{ subjectSelected.nameSubject }}</label><br/></p>

              {#Voir les questions :#}
              {#{% for topic in subject.topics %}
                {% for question in topic.questions %}
                  {{ question.schoolClass.schoolClass }} : {{ question.question }} <br/>
                {% endfor %}
              {% endfor %}#}

          {% endfor %}
        </div>
        <div>
          <a class="checkAllSubjects btn btn-default">Cocher les 4 premiers thèmes</a>
        </div>
        {% if subjectsSelected|length < 4 %}
          <div><span class="glyphicon glyphicon-time"></span> Patience, pour certains thèmes, il n'y a pas encore assez de questions pour chaque niveau scolaire.</div>
        {% endif %}

      </div>
    </div>
    <div class="alert alert-warning infoQuestions">
      <h4><strong>Attention</strong></h4>
      <p>Pour garantir le bon déroulement du jeu, il doit y avoir suffisamment de questions.</p>
      <p>Dans l'idéal, pour une matière, il devrait y avoir au moins 10 questions par niveau scolaire.</p><br/>
      {% for key, subject in subjects %}
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ key }}">
                  {% if nbSchoolLevels[key][0].1 == 0 %}
                    <p><span class="caret"></span><strong> {{ subject.nameSubject }}</strong> : il n'y a encore aucune question.</p>
                  {% elseif nbSchoolLevels[key][0].1 == 5 %}
                    <p><span class="caret"></span><strong> {{ subject.nameSubject }}</strong></p>
                  {% else %}

                    {% if nbSchoolLevels[key][0].1 == 1 %}
                      <p><span class="caret"></span><strong> {{ subject.nameSubject }}</strong> : les questions ne concernent seulement que {{ nbSchoolLevels[key][0].1 }} niveau scolaire :
                    {% elseif nbSchoolLevels[key][0].1 < 5 %}
                      <p><span class="caret"></span><strong> {{ subject.nameSubject }}</strong> : les questions ne concernent seulement que {{ nbSchoolLevels[key][0].1 }} niveaux scolaires :
                    {% endif %}

                    {% for schoolLevel in schoolLevels[key] %}
                    {{ schoolLevel.schoolClass }}
                    {% endfor %}    
                    </p>
                      
                  {% endif %}
                </a>
              </p>
            </div>
            <div id="collapse{{ key }}" class="panel-collapse collapse">
              <div class="panel-body">
                {% for nbQuestion in nbQuestions[key] %}
                  {% if loop.index0 == 0 %}
                  <p>Il y a {{ nbQuestion[0].1 }} question(s) de niveau CP.</p>
                  {% elseif loop.index0 == 1 %}
                  <p>Il y a {{ nbQuestion[0].1 }} question(s) de niveau CE1.</p>
                  {% elseif loop.index0 == 2 %}
                  <p>Il y a {{ nbQuestion[0].1 }} question(s) de niveau CE2.</p>
                  {% elseif loop.index0 == 3 %}
                  <p>Il y a {{ nbQuestion[0].1 }} question(s) de niveau CM1.</p>
                  {% elseif loop.index0 == 4 %}
                  <p>Il y a {{ nbQuestion[0].1 }} question(s) de niveau CM2.</p>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
          
      {% endfor %}

      <div class="center">  
        <p><a href=" {{ path('suggest_question') }} "><button class="btn btn-warning" type="button">N'hésitez pas à proposer vos questions !</button></a></p>
      </div>
    </div>  
      
    <div class="center">
      <input class="playButton btn btn-primary disabled" type="submit" value="JOUER" />
      </form>        
    </div>

    {% else %}
      <p>Il n'y a encore aucun joueur.</p>
      <a href=" {{ path('add_gamer') }} "><button class="btn btn-primary" type="button">Ajoutez en un !</button></a>
    {% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {
      
        var limitCheckedBox = 4;
        var nbSubjectChecked;
        $('input:checkbox[name="subject[]"]').on('change', function(e) {
            nbSubjectChecked = $('.chooseSubject input:checked').length;
            if(nbSubjectChecked > limitCheckedBox) {
              this.checked = false;
            }
        });

        $('input:checkbox').on('change', function(e) {
            var nbGamerChecked = $('.gamer input:checked').length;
            nbSubjectChecked = $('.chooseSubject input:checked').length;
            
            if(nbSubjectChecked >= limitCheckedBox && nbGamerChecked >= 1) {
              $('.playButton').removeClass('disabled');
            } else {
              $('.playButton').addClass('disabled');              
            }
        });        

        $('.checkAllGamers').on('click', function(e) {
          e.preventDefault();
          $('.gamer input:checkbox').each(function(){
              this.checked = true;
          });
          if ($('.chooseSubject input:checked').length == limitCheckedBox) {
            $('.playButton').removeClass('disabled');
          }          
        });

        $('.checkAllSubjects').on('click', function(e) {
          e.preventDefault();
          $('.chooseSubject input:checkbox').each(function(i){
              this.checked = true;
              if ($('.gamer input:checked').length >= 1) {
                $('.playButton').removeClass('disabled');            
              }
              if ($('.chooseSubject input:checked').length != limitCheckedBox) {
                $('.playButton').addClass('disabled');
              }          
              if (i == 3) {
                return false;
              }
          });
        });

    });
    </script>

{% endblock %}
