{# src/UserBundle/Resources/views/Gamer/select_gamer.html.twig #}

{% extends "GameBundle::layout.html.twig" %}
{% set select_gamer = true %}

{% block title %}{{ parent() }} - {{ titleTab }}{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('notice') %}
      <div class="alert alert-danger">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('success') %}
      <div class="alert alert-success">
        <p>{{ message }}</p>
      </div>
    {% endfor %}

    <h3>{{ title1 }}</h3>
    
    {% if gamers %}
      {% for gamer in gamers %}
        <div class="gamer">
          <h4>{{ gamer.username }}</h4>
          <p>Meilleur score : {{ gamer.bestScore }}</p>
          <p>Nombre de parties gagnées : {{ gamer.gameWonNb }}</p>
          <p>Nombre de bonnes réponses : {{ gamer.rightAnswerNb }}</p>
          <p>Niveau : {{ gamer.level }}</p>

          <form action=" {{ path('play') }} " method="GET">
          <input type="checkbox" name="gamer[]" value="{{ gamer.id }}" /> Sélectionner ce joueur
        </div>
      {% endfor %}

      <h3>{{ title2 }}</h3>
        {% for subject in subjects %}
          <div class="subject">
            {{ subject.nameSubject }}
            <div>
              <input type="checkbox" name="subject[]" value="{{ subject.id }}" /> Choisir ce thème
            </div>
          </div>
        {% endfor %}
      </div>

      <div>
        <input type="submit" value="JOUER" />
        {#<button class="btn btn-primary" type="button"><input type="submit" value="JOUER" /></button>#}
        </form>        
      </div>

    {% else %}
      <p>Il n'y a encore aucun joueur.</p>
      <a href=" {{ path('add_gamer') }} "><button class="btn btn-primary" type="button">Ajoutez en un !</button></a>
    {% endif %}

{% endblock %}
 